/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.5)), url('/static/images/music.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background: linear-gradient(to right, #024704, #54dd5b);
    color: white;
    padding: 0.5px;
    text-align: center;
}

/* Main Content Grid */
.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 0px;
    justify-items: center;
    margin: 0px 0px;
}

/* Card Styles */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    padding: 20px;
    text-align: center;
}

/* Card Links / Buttons */
.card a {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #45a049;
}

/* Flute Image in Card */
.flute-image {
    width: 100%;
    height: 100;
}

/* Table Styling */
table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #e0e0e0;
}

/* Home button */
.home-button {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
}

.home-button:hover {
    background-color: #45a049;
}

/* Main content for view_all page */
.view-all-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 5px;
    background-color: #055c32;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    font-family: Georgia, serif;
}

.footer p {
    margin: 0;
}

